# dependencies
node_modules
.pnp
.pnp.js

# build
dist

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo