@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
  html {
    font-family: "Noto Sans KR", sans-serif;
  }
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  color: #364034;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

/* CK editor heading 지원 */
h1.ce-header {
  @apply text-3xl font-bold;
}
h2.ce-header {
  @apply text-2xl font-semibold;
}
h3.ce-header {
  @apply text-xl font-semibold;
}
h4.ce-header {
  @apply text-lg font-semibold;
}
h5.ce-header {
  @apply text-base font-semibold;
}
h6.ce-header {
  @apply text-base font-semibold;
}

/* editorjs overflow시 padding 문제 해결  */
.codex-editor__redactor {
  padding-bottom: 0 !important;
}
