@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css");
@import "tailwindcss";

@layer base {
  body {
    font-family: "Pretendard", sans-serif;
  }
}

@theme {
  --color-primary-50: rgb(239, 246, 255);
  --color-primary-100: rgb(219, 234, 254);
  --color-primary-200: rgb(191, 219, 254);
  --color-primary-300: rgb(147, 197, 253);
  --color-primary-400: rgb(96, 165, 250);
  --color-primary-500: rgb(59, 130, 246);
  --color-primary-600: rgb(37, 99, 235);
  --color-primary-700: rgb(29, 78, 216);
  --color-primary-800: rgb(30, 64, 175);
  --color-primary-900: rgb(30, 58, 138);
  --color-primary-950: rgb(23, 37, 84);

  --color-secondary-50: rgb(245, 243, 255);
  --color-secondary-100: rgb(237, 233, 254);
  --color-secondary-200: rgb(221, 214, 254);
  --color-secondary-300: rgb(196, 181, 253);
  --color-secondary-400: rgb(167, 139, 250);
  --color-secondary-500: rgb(139, 92, 246);
  --color-secondary-600: rgb(124, 58, 237);
  --color-secondary-700: rgb(109, 40, 217);
  --color-secondary-800: rgb(91, 33, 182);
  --color-secondary-900: rgb(76, 29, 149);
  --color-secondary-950: rgb(46, 16, 101);

  --color-slate-50: rgb(248, 250, 252);
  --color-slate-100: rgb(241, 245, 249);
  --color-slate-200: rgb(226, 232, 240);
  --color-slate-300: rgb(203, 213, 225);
  --color-slate-400: rgb(148, 163, 184);
  --color-slate-500: rgb(100, 116, 139);
  --color-slate-600: rgb(71, 85, 105);
  --color-slate-700: rgb(51, 65, 85);
  --color-slate-800: rgb(30, 41, 59);
  --color-slate-900: rgb(15, 23, 42);
  --color-slate-950: rgb(2, 6, 23);
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  color: #364034;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

/* CK editor heading 지원 */
h1.ce-header {
  @apply text-3xl font-bold;
}
h2.ce-header {
  @apply text-2xl font-semibold;
}
h3.ce-header {
  @apply text-xl font-semibold;
}
h4.ce-header {
  @apply text-lg font-semibold;
}
h5.ce-header {
  @apply text-base font-semibold;
}
h6.ce-header {
  @apply text-base font-semibold;
}

/* editorjs overflow시 padding 문제 해결  */
.codex-editor__redactor {
  padding-bottom: 0 !important;
}

@media (width >= 651px) {
  .codex-editor:not(.codex-editor--narrow)
    > .codex-editor__redactor
    > .ce-block
    .ce-block__content,
  .codex-editor:not(.codex-editor--narrow)
    > .ce-toolbar
    > .ce-toolbar__content {
    margin-left: 50px;
  }
}
